body,html{
  margin:5px;
  padding:0;
  overflow-x:hidden;
}
body {
  background-color: black;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
h3
.selector{
  display: inline;
}
.selector .copy{
  font-size: 27px;
  font-family:"Times New Roman",Georgia,Serif;
    font-weight: bold;
  font-style: italic;
  display: inline-block;
}
.selector select{
  display: inline;
}

.container{
  margin:auto;
  text-align: center;
  width:500px;
}
.location .input{
  display: hidden;
}
.location{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  display: inline;

}
.location .copy a{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  color:white;
}
.location .copy a:hover{
  text-decoration: none;
  color:#5ab2ff;
}

.location .copy{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  display: inline;
  position: absolute;
  top:7px;
  margin:0 0 0 10px;
  width:100%;
}
.location .input{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 22px;
  font-weight: bold;
  font-style: italic;
  vertical-align: middle;
  display: inline;
  position: absolute;
  top:7px;
  margin:0 0 0 10px;
  width:100%;
}


.feed{
  text-align: left;
  position: absolute;
  /*width:500px;*/
}
.feed ul{
  list-style: none;
  -webkit-padding-start:0;
  padding:0;
  display: block;
}
.feed li{
  padding: 20px 0 20px 0;
  height: 100%;
  display: block; 
  height: 100%;
  float:left;
  border-bottom: solid 2px white;
  display:none;
  min-width:535px;
}
.feed .loading{
  text-align: center;
  margin:auto;
  padding-top:25px;
  width:500px;
  
}
select{
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  color:white;
  background-color: black;
  text-align: right;
  font-size: 20px;
  padding:0;
  margin:0 0 0 25px;
  border: 1px solid white;
  height: 34px;
}

/*list template styles*/
.left{
  display: block;
  width:140px;
  padding:0 15px 0 0 ;
  text-align: right;
  float:left;
}
.right{
  display: block;
  padding:0 40px 0 0;
  text-align: left;
  float:right;
  width:340px;

}
.time{
  font-size: 24px;
   font-size: 24px;
  /*font-weight: bold;*/
}
.title{
  font-family:"Times New Roman",Georgia,Serif;
  font-size: 26px;
  font-weight: bold;
  font-style: italic;
}
.channel{
  display: inline-block;
  padding:10px 10px 10px 10px;
  margin:4px 0 0 0;
  background: white;
  color: black;
  width:40px;
  text-align: center;
  font-size: 24px;
  /*font-weight: bold;*/
  border-radius: 5px;
}

.copy{
  font-size: 16px;
}



.clear{
  clear: both;
}